
.fotum-service{
    padding: 4px 8px;
    background-color: $grey-color-light;
    margin-bottom: 16px;
}
.fotum-service-green{
    font-weight: 600;
    color: darkgreen;
}
.fotum-service-red{
    font-weight: 600;
    color: darkred;
}
.fotum-service-amber{
    font-weight: 600;
    color: darkorange;
}