
$fotum-brand-color: #0A8210 !default;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');	

body.fotum {
  font-family: Roboto, -apple-system, Helvetica;;
}


/**
* Header
*/

.fotum .site-header {
  z-index: 1;
}
.fotum a.site-title {
    
  @include relative-font-size(1.4);
  line-height: $base-line-height * $base-font-size * 1.8;
  font-family: $base-font-family;

  @include media-query($on-laptop) {
    line-height: $spacing-unit * 1.865;
  }

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.fotum-banner {
  position: sticky;
  top:0;
  
  @include media-query($on-laptop) {
    position: inherit;
    width: 100vw;
    padding:0;
  }
  &.fotum-banner-withsplash {
    margin-top: -304px;
    margin-bottom: 238px;
    z-index: 1;
    
    @include media-query($on-smallscreen) {
      margin-top: -234px;
      margin-bottom: 183px;
    }

    @include media-query($on-laptop) {
      display:none;
    }
  }
}


.fotum-banner-image {
  background-image: url("/assets/fotum/splashbanner_964.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 66px;

  @include media-query($on-smallscreen) {
    background-image: url("/assets/fotum/splashbanner_740.jpg");
    height: 51px;
  }

  @include media-query($on-laptop) {
    background-image: url("/assets/fotum/splashbanner_740_mob.jpg");
    height: calc(100vw * 0.089);
  }
}
.fotum-splash {

  @include media-query($on-laptop) {
    position: inherit;
    width: 100vw;
    padding:0;
  }
}
.fotum-splash-image {
  background-image: url("/assets/fotum/splashbg_964.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 542px;
  width: 100%;
  
  @include media-query($on-smallscreen) {  
    background-image: url("/assets/fotum/splashbg_740.jpg");
    height: 416px;
  }

  @include media-query($on-laptop) {
    background-image: url("/assets/fotum/splashbg_740_mob.jpg");
    height: calc(100vw * 0.65);
  }
}

/**
* Footer
*/

.fotum .site-footer {
  font-family: $base-font-family;
}

/**
* Service updates
*/

.fotum-service{
    width: 100%;
    padding: 4px 8px;
    background-color: $grey-color-light;
    
    @include media-query($on-laptop) {
      margin-top: $spacing-unit;
    }
}
.fotum-service-green{
    font-weight: 600;
    color: darkgreen;
}
.fotum-service-red{
    font-weight: 600;
    color: darkred;
}
.fotum-service-amber{
    font-weight: 600;
    color: darkorange;
}

.fotum-content-withsplash {

  min-height: calc(100vh - 346px);
  
  @include media-query($on-smallscreen) {
    min-height: calc(100vh - 331px);
  }

  @include media-query($on-laptop) {
    min-height: auto;
  }
}

/**
 * Links
 */
.fotum a {
  color: $fotum-brand-color;
  text-decoration: none;

  &:visited {
    color: darken($fotum-brand-color, 15%);
  }

  &:hover {
    color: lighten($fotum-brand-color, 15%);
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


.fotum-nav {
    line-height: $base-line-height * $base-font-size * 2.25;
    background-color: $background-color;
    position:sticky;
    top: 66px;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    a.page-link {
      color: $text-color;
      line-height: $base-line-height;
      text-transform: uppercase;
      font-weight: 500;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
  
      &.page-link-active {
        color: $fotum-brand-color;
      }
    }
    
    @include media-query($on-smallscreen) {
      top: 51px;
    }

    @include media-query($on-laptop) {    
      top: calc(100vw * 0.069);
    }
  
    @include media-query($on-laptop) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
      z-index: 99;

      .wrapper {        
        width: auto;
      }
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      a.page-link {
        display: block;
        padding: 5px 10px;
    
        &,
        &:visited {
          color: $text-color
        }
          
        &.page-link-active {
          color: $fotum-brand-color;
        }
    
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }