
/**
* Header
*/
.ja2 a.site-title {
    
    @include relative-font-size(2);
    line-height: $base-line-height * $base-font-size * 2;

    
    @include media-query($on-palm) {
      @include relative-font-size(1.4);
    }

    &,
    &:visited {
      color: $grey-color-dark;
    }
}

.ja2 .site-strap {
  @include relative-font-size(1);
}

.ja2 .site-banner {
    margin-bottom: 8px;
    margin-right: 60px;
}

/**
 * Links
 */
 .ja2 a {
    color: $ja2-brand-color;
    text-decoration: none;
  
    &:visited {
      color: darken($ja2-brand-color, 15%);
    }
  
    &:hover {
      color: lighten($ja2-brand-color, 15%);
      text-decoration: underline;
    }
  
    .social-media-list &:hover {
      text-decoration: none;
  
      .username {
        text-decoration: underline;
      }
    }
}

.ja2 .site-nav {
    line-height: $base-line-height * $base-font-size * 2.25;
    background-color: $black-color;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }

     a.page-link {
      color: $white-color;
      line-height: $base-line-height;
      text-transform: uppercase;
      font-weight: 500;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
  
      &.page-link-active {
        color: $ja2-brand-color;
      }
    }
  
    @include media-query($on-laptop) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
      z-index: 99;
      padding: 0 15px;

      .wrapper {        
        width: auto;
      }
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      a.page-link {
        display: block;
        padding: 5px 10px;
        
        &,
        &:visited {
          color: $text-color
        }
            
        &.page-link-active {
            color: $ja2-brand-color;
        }
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }