---
title: Fotum | JA2 Technologies Ltd
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="fotum">

    {%- include fotum-header.html -%}
    
    {%- include fotum-status.html -%}

    <main class="page-content {% if page.custom_splash %} fotum-content-withsplash{% endif %}" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
